<a class="twitter-share-button"
   href="https://twitter.com/share" data-url="http://crimenut.com" data-text="Crimenut, Ohio State's very own unofficial student crime reporting app" data-count="none">
  Tweet
</a>
