
<link href='http://fonts.googleapis.com/css?family=Boogaloo|Bangers' rel='stylesheet' type='text/css'>
<div class="about_main">
    <h2>
      Hey future crime fighter.  Thanks for stopping by.
    </h2>
    <h3>
      Miscreants are about in the neighborhood.  Good hearted citizens right here on the Ohio State campus
      are feeling like things aren't safe.  You can help keep them protected, and take tips from other crime kids so that
      you can be safe too.
    </h3>
    <h3>
      A few things:
    </h3>
    <p class="indent">
      Report things that are amiss.  For example, report if your bike gets stolen, but also report shifty behavior,
      say, a person walking down the street with three bikes.
    </p>
  <p class="indent">
      Comment on others crime reports.  Say another user reports some shady activity on High Street.  If you happen
      to pass through that area, comment on the report with your own take.
    </p>
  <p class="indent">
      Help us lock up spammers.  If a Report is bogus, please comment on the post to let other users know it's
      untrue. This helps make sure that others do not incite fear.  This app is to make us feel safer after all!
    </p>
  <p class="indent">
      Finally, be kind to other community members.  Any report or comment that belittles another user or implies
      a bigoted and fearful attitude toward any group is strictly prohibited.  Crime kids are valiant super
      heroes.
    </p>
    <p>
      I'm happy to have you on the team!
    </p>
  <p style="color: blue;">
    Love, The Crime Mom
  </p>

  <%= link_to 'Back', '/' %>

</div>