<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div class="about_main">
    <h2>
      Hey future crime fighter.  Thanks for stopping by.
    </h2>
  <br>
  <br>
  <br>
  <br>
    <h3>
      Miscreants abound!
      </h3>
  <br>
  <h3 style="font-family: serif; font-weight: lighter">
      Tender hearted citizens right here on campus are feeling like
    <%= link_to 'things aren\'t safe', 'http://www.collegefactual.com/colleges/ohio-state-university-main-campus/student-life/crime/' %>.
      Brave lil rascal you are, you probably take midnight walks without a second thought.
      It would be nice if others felt safe enough to do the same! The fact is, Ohio State has
      higher than average crime rates--a D+ rating from college factual. Large numbers of
      reported burglary and sexual assault help make up that number. But those numbers are for
      campus alone.  When you step a foot off of campus (and we all do!) things become even more
      stark, as Columbus has a problem with street robbery.  This is not to say stay inside!
      As a crime kid you can help keep others protected, and take tips from other crime kids
      so that you can be safe too.  Finally, <strong>all reports and comments are anonymous</strong>,
      so have no fear when making one.
      </h3>
  <br>
  <h3 style="font-family:'action_manregular'">
      All you have to do is sign up to be a beta tester!<br><br>
    </h3>
  <h3 style="font-family: serif; font-weight: lighter">
    Once you sign up to become a super hero, We will shoot you an email within a few days and
    give you further instructions on how to download the app and be a become a real crime kid.
  </h3>
  <br>
  <h3 style="font-family:serif; font-style: italic; font-weight: lighter">You won't be able to download the app till 1000 people are signed up, so tell your friends!
  </h3>
  <br>
    <h3>
      Here are some things to keep in mind in our quest for neighborhood domestication:
    </h3>
  <br>
    <p class="indent" style="font-weight: lighter; font-family: serif">
      <strong>Report things that are amiss.</strong> For example, report if your bike gets stolen, but also report shady behavior,
      say, a person walking down the street with three bikes.
    </p>
  <br>
  <p class="indent" style="font-weight: lighter; font-family: serif">
    <strong>Comment on others crime reports.</strong>  Say another user reports some shady activity on High Street.  If you happen
      to pass through that area, comment on the report with your own take.
    </p>
  <br>
  <p class="indent" style="font-weight: lighter; font-family: serif">
    <strong>Help us lock up spammers.</strong>  If a Report is bogus, please comment on the post to let other users know it's
      untrue. This helps make sure that others do not incite fear.  This app is to make us feel safer after all!
    </p>
  <br>
  <p class="indent" style="font-weight: lighter; font-family: serif">
    <strong>Finally, be kind to other community members.</strong>  Any report or comment that belittles another user or implies
      a bigoted and fearful attitude toward any group is strictly prohibited.  Crime kids are valiant super
      heroes.
    </p>
  <br>
    <h3>
      I'm happy to have you on the team!
    </h3>
  <br>
  <h3 style="font-style: italic;">
    - The Crime Mom
  </h3>

  <%= link_to 'Back', '/' %>

</div>