// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* This gets Google to fall into place */
#bang{
   width:240px;
  height:222px;
  position:absolute;
  top:0px;
  right:0px;
  font-family: 'action_man_extendeditalic';
  color: black;
  background-image: url('bang.png');
  background-size: 222px;
  background-repeat: no-repeat;

}

#bang a{
  font-size: 40px;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white ;
  color: red;
  text-shadow: 3px 3px black;
  display: inline-block;
  position: relative;
  top: 80px;
  right:10px;
  width:200px;
  font-weight: bold;
  -webkit-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
}

.main{
  text-align: center;
  margin-top: 344px;
  margin-bottom: 300px;
}
.big_title{
  font-family: 'bullpen3d', cursive;//'babyk',Lobster, cursive;
  #color: black;
  //color: #000066;
  //color: #0000ff;
  //color: #0086b3; (nice blue)
  color: yellow;
  font-size: 250%;
  text-decoration: none;

}
.big_title:hover{
  //color: blue;
  //color: green;
  color: #0086b3;
}
.cool_p{
  font-family: Boogaloo, cursive;
  color: yellow;
  font-size: 150%;
}
body{
  background-color: #B00100;


  //background-origin: -100px;
  //background-color: #b43d3d;
  //background-image: url('red-yellow-dots.jpg');
  //width: 100%;
  //height: 300px;
  //background-size: 100%;
  //background-repeat: no-repeat;
}


h2{
  font-family: Bangers, cursive;
  //color: #0086b3;
  color: yellow;
  font-size: 250%;
}

.button{
  border: 0px;
  background-color: cadetblue;
  font-family: Bangers, cursive;
  font-size: 250%;
  //color: #730E15;
  color: #B00100;
  border-radius: 10px;
  padding: 10px;
}
.button:hover{
  background-color: yellow;
  color: red;
}

.form-control{
  width: 30%;
  padding: 10px;

}

.form-control:hover{
  background-color: aqua;
  color: red;

}

.submit_button{
  border: 0px;
  border-radius: 10px;
  background-color: cadetblue;
  color: #F7F7F7;
  padding: 10px;
  font-family: arial, sans-serif;

}

#main_form{
  display: none;
}
.social {
  font-size: 1px;
}

/* This gets Facebook to fall into place */
.social Facebook {
  vertical-align: middle;
}

.social Reddit {
  vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
  display: inline-block;
  width: 70px;
}

/* Adjust the widths individually if you like */
.social .google {
  width: 75px;
}

/*Fonts */
@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster/Lobster-Regular.ttf');
  src: url('../fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}