<!DOCTYPE html>
<html>
<head>
  <meta property="og:url" content="http://crimenut.com/"/>
  <meta property="og:title" content="Crimenut"/>
  <meta property="og:image" content="http://crimemom.com/assets/babe.png"/>
  <meta property="og:site_name" content="Crimenut"/>
  <meta property="og:description" content="Ohio State's very own unofficial student crime reporting app."/>
  <title>Crimenut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
